.blockH1 {
    margin: 5px auto 0;
    width: 1200px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 50px 50px 0 0;
}

.blockH1 h1 {
    font-size: 40px;
    color: black;
    margin: 0 0 0 -800px;
}

.actionBlock {
    width: 1200px;
    min-height: 570px;
    margin: auto;
    display: flex;
    background-color: white;
}

.blockPosts {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: -10px 0 0;
}