.sendPost {
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    width: content-box;
    font-size: 15px;
    color: #0d3f3f;
    background-color: white;
}
.postText {
    margin: 20px auto 0;
    padding: 5px;
    border: 1px solid black;
    width: 350px;
    font-size: 15px;
    outline: none;
    resize: none;
    color: black;
    background-color: white;
}
form select:hover,
.headingPost:hover,
.postText:hover,
.sendPost:hover {
    background-color: white;
}
