* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<blockH1>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<blockButton>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.stopButton {
  width: 200px;
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  padding: 20px 0 25px 0;
}

.stopButton div {
  margin: 5px auto 0;
  display: flex;
}

.stopButton button {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  font-size: 15px;
  color: black;
  border: none;
  background-color: rgb(255, 255, 255);
}

.stopButton h3 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

.stopButton span {
  display: block;
  width: 90px;
  color: black;
  font-size: 22px;
}

.circleRed:hover {
 cursor: pointer;

}

.circleGreen:hover {
    cursor: pointer;
  
}



form {
  border: 1px solid black;
  margin: 5px 5px 5px 0;

  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

form ::placeholder {
  font-size: 15px;
  color: black;
  font-family: sans-serif;
}

form h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  color: black;
}

form select {
  margin: 20px 0 0 20px;
  padding: 5px;
  border: none;
  width: content-box;
  font-size: 15px;
  outline: none;
  color: black;
  background-color: white;
}

.headingPost {
  margin: 20px auto 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 340px;
  font-size: 15px;
  outline: none;
  background-color: white;
}








/*<<<<<<<<<<<<<<<<<<<<<<<<<<<blockPost>>>>>>>>>>>>>>>>>>>>>>>>>>*/


::-webkit-scrollbar {
  display: none;
}










.contentTextPost:hover {
  overflow: auto;
}




#positionForm form {
  width: 400px;
  height: 340px;
  position: absolute;
  z-index: 5;
  margin: 15px 0 0 0;

  background-color: white;
}

#positionForm h2 {
  color: black;
}

#positionForm select {
  background-color: white;
  font-size: 20px;
  width: content-box;
  padding: 10px;
  color: black;
}

#positionForm button {
  background-color: white;
  font-size: 25px;
  width: content-box;
  padding: 10px;
  color: black;
}

#positionForm input,
#positionForm textarea {
  background-color: white;
  font-size: 20px;
  width: 300px;
  padding: 10px;
}

#positionForm form input::placeholder,
#positionForm form textarea::placeholder {
  color: darkslategray;
  font-size: 25px;
  text-align: left;
}

#positionForm select:hover,
#positionForm input:hover,
#positionForm textarea:hover,
#positionForm button:hover {
  background-color: white;
}








.allAuthorsPage a {
  position: fixed;
  top: 100px;
  left: 323px;
  display: block;
  text-decoration: none;
  font-size: 30px;
  background-color: white;
  width: 150px;
  color: black;
  padding: 10px;
  border-radius: 0 20px 20px 0;
}
